node_modules/
.bundle/
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab
ios/build/
ios/Pods/
.env
.env.*
*.keystore
*.jks
*.p8
*.p12
*.key
*.pem
google-services.json
GoogleService-Info.plist
release_keystore_password.txt
*.log
.vscode/
.idea/
.DS_Store
